$primary-color: #ffffff;
$background-color: #2a2b2d;

// Body styling
body {
   background-color: $background-color;
   color: $primary-color;
   // Add other body styles as needed
}

.animated-image {
   transition: transform 0.3s ease-in-out;
 }

 .animated-image:hover {
   transform: scale(1.1);
 }


