$primary-color: #ffffff;
$background-color: #4a515b;

// Body styling
body {
   background-color: $background-color;
   color: $primary-color;
   // Add other body styles as needed
}

img {
   border-radius: 5%;
   
}


